fastapi
uvicorn[standard]
python-dotenv
langchain-groq
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-core
langchain-classic
python-pptx
pypdf
chromadb
sentence-transformers
ragas
datasets