fastapi
uvicorn
python-multipart
langchain
langchain-groq
langchain-community
langchain-huggingface
sentence-transformers
langchain-text-splitters
chromadb
langchain-chroma
python-dotenv
langchain-classic
pypdf
python-pptx